body {
  background-color: cadetblue;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.icon-container {
  font-size: 5em;
}

.icon-container i {
  margin: 0 10px;
}

.icon-container .fab.fa-html5 {
  color: #e44d26;
}

.icon-container .fab.fa-css3-alt {
  color: #1572b6;
}

.icon-container .fab.fa-js {
  color: #f7df1e;
}

.icon-container .fab.fa-bootstrap {
  color: #563d7c;
}

.icon-container .fab.fa-wordpress {
  color: #21759b;
}

.social-icon {
  font-size: 2em;
  color: #fff;
  margin-right: 10px;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.fade-in-out {
  animation: fadeInOut 3s ease-in-out infinite;
}

h1 {
  font-size: 90px;
}