body {
  background-color: cadetblue;
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.icon-container {
  font-size: 5em;
  display: flex;
  justify-content: center;
}

.icon-container i {
  margin: 0 10px;
}

.icon-container .fab.fa-html5 {
  color: #e44d26;
}

.icon-container .fab.fa-css3-alt {
  color: #1572b6;
}

.icon-container .fab.fa-js {
  color: #f7df1e;
}

.icon-container .fab.fa-bootstrap {
  color: #563d7c;
}

.icon-container .fab.fa-wordpress {
  color: #21759b;
}

.social-icon {
  font-size: 2em;
  color: #fff;
  margin-right: 10px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-out {
  animation: fadeInOut 3s ease-in-out infinite;
}

h1 {
  font-size: 90px;
}

#skills {
  text-align: center;
}

.icon-container .fab.fa-html5,
.icon-container .fab.fa-css3-alt,
.icon-container .fab.fa-js,
.icon-container .fab.fa-bootstrap,
.icon-container .fab.fa-wordpress {
  font-size: 1em;
}

#portfolio h2 {
  text-align: center;
  font-size: 36px;
}

.education-item {
  text-align: center;
  padding: 20px;
  border: 2px solid #3498db;
  border-radius: 10px;
  background-color: #f8f9fa;
  transition: transform 0.3s ease-in-out;
}

.education-item:hover {
  transform: scale(1.05);
}

.education-item i {
  font-size: 3em;
  margin-bottom: 10px;
  color: #3498db;
}

.profile-image img {
  border-radius: 50%;
  margin-top: 20px;
  border-bottom: 2px solid #000000;
  margin-bottom: 8px;
  max-width: 100%;
  height: auto;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.8);
}

.profile-image img:hover {
  filter: brightness(1.2);
}

.carousel-caption {
  background-color: #ffffff;
  border: 1px solid #007bff;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
}
.bio {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  }

#about {
  padding-top: 100px;
  padding-bottom: 100px;
}

#about h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

#about p {
  font-size: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
}


.profile-image {
  margin-top: 20px;
}

@media (max-width: 768px) {
  #contact .col-md-6 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 70px;
  }

  .icon-container {
    font-size: 4em; 
  }

  #about {
    padding-top: 70px; 
  }

  #about h2 {
    font-size: 30px; 
  }

  #about p {
    font-size: 16px; 
  }

  .profile-image img {
    margin-top: 15px; 
  }

  .carousel-caption {
    padding: 8px; 
  }

  #portfolio h2 {
    font-size: 40px; 
  }

  .education-item {
    padding: 15px; 
  }

  .education-item i {
    font-size: 3em; 
  }

  .social-icon {
    font-size: 2em;
  }

  footer h5 {
    font-size: 22px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 60px; 
  }

  .icon-container {
    font-size: 3em; 
  }

  #about {
    padding-top: 50px; 
    padding-bottom: 50px; 
  }

  #about h2 {
    font-size: 24px; 
    margin-bottom: 20px; 
  }

  #about p {
    font-size: 14px; 
  }


  .profile-image img {
    margin-top: 10px; 
  }

  .carousel-caption {
    padding: 5px; 
  }

  #portfolio h2 {
    font-size: 30px; 
  }

  .education-item {
    padding: 10px; 
  }

  .education-item i {
    font-size: 2em; 
    margin-bottom: 5px; 
  }

  .social-icon {
    font-size: 1.5em; 
  }

  footer h5 {
    font-size: 18px; 
  }
}
